<main>
  <section class="welcome">
    <h1>Cadastro de Pessoas - RH</h1>
    <h2>Seja bem-vindo ao sistema que gerencia o cadastro de funcionários da sua empresa.</h2>
    <div class="buttons">
      <a routerLink="login">
        <button pButton pRipple class="p-button-success">Logar</button>
      </a>
      <a routerLink="register">
        <button pButton pRipple class="p-button-secondary">Registrar</button>
      </a>
    </div>

  </section>

  <img ngSrc="/assets/humans.svg" alt="Humans" height="667" width="667" priority/>
</main>
