<div class="body-background">
    <div class="login-page">
  
      <form class="form">
        <div class="title"> LOGIN :  </div>
  
        <input type="username" placeholder="username" name="username" class="input">
        <input type="password"  placeholder="Password" name="password" class="input">
        <div class="login-with">
          <div class="botoes">
            <button class="button-confirm" >Entrar →</button>
            <button routerLink="/register" class="button-register">Registrar</button>
          </div>
        </div>
        
        
      </form>
    
    
       
      </div>
  </div>
  