<div class="body-background">
  <div class="login-page">
    <form class="form">
      <div class="title">Login:</div>
      <input type="email" placeholder="Email" name="email" class="input" [(ngModel)]="email">
      <input type="password" placeholder="Senha" name="password" class="input" [(ngModel)]="password">
      <div class="login-with">
        <div class="buttons">
          <button pButton pRipple (click)="onLogin()" class="p-button-success">Entrar →</button>
          <button pButton pRipple routerLink="/register" class="p-button-secondary">Registrar</button>
        </div>
      </div>
      <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
    </form>
    </div>
</div>
