<div class="body-background">
    <div class="login-page">
  
      <form class="form">
        <div class="title">Registrar : </div>
        <input type="email"  placeholder="Email" name="email" class="input">
        <input type="text" placeholder="username" name="username" class="input">
        <input type="password"  placeholder="Senha" name="password" class="input">
    
        <div class="login-with">
          <div class="botoes">
            <button class="button-confirm"(click)="onRegister()">Confirmar</button>
            <button routerLink="/login" class="button-back">Voltar</button>
          </div>
        </div>
        
        
      </form>



      <div class="overlay" [class.active]="visible"></div>
