@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --text-primary: #212427;
  --text-secondary: rgba(33, 36, 39, .8);
  --background: #faffff;
  --surface: 	#f0f0ff;
}

* {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: var(--text-primary);
}

body {
  background: var(--background);
}
